satit/vendor/
satit/node_modules/
satit/npm-debug.log
satit/yarn-error.log

# Laravel 4 specific
satit/bootstrap/compiled.php
satit/app/storage/

# Laravel 5 & Lumen specific
satit/public/storage
satit/public/hot

# Laravel 5 & Lumen specific with changed public path
satit/public_html/storage
satit/public_html/hot

satit/storage/*.key
satit/.env
satit/Homestead.yaml
satit/Homestead.json
satit/.vagrant
satit/.phpunit.result.cache
